<style type="text/css">
h2 { text-align:center; margin-top: 2em }
h3,h4,h5,h6 { margin-left: 4%; margin-right: 4% }
p { margin-left: 4%; margin-right: 4% }
pre, ol, ul, dl { margin-left: 6%; margin-right: 6% }
li { margin-bottom: 1em }
hr { width: 92% }
</style>
