/* Buddy List window icons */

.user {
    background-image:url(../extjs/examples/shared/icons/fam/user.gif ) !important;
}

.user-add {
    background-image:url(../extjs/examples/shared/icons/fam/user_add.gif) !important;
}

.user-delete {
    background-image:url(../extjs/examples/shared/icons/fam/user_delete.gif) !important;
}

.connect {
    background-image:url(../extjs/examples/shared/icons/fam/connect.gif) !important;
}

.user-girl {
    background-image:url(../extjs/examples/shared/icons/fam/user_female.gif) !important;
}

.user-kid {
    background-image:url(../extjs/examples/shared/icons/fam/user_green.gif) !important;
}

.user-suit {
    background-image:url(../extjs/examples/shared/icons/fam/user_suit.gif) !important;
}